doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/global.css')
    script(defer='', src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(defer='', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(defer='', src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    block header


  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand.ml-4(href='/')
        svg.mt-2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='87', height='24', viewbox='0 0 87 24')
          defs
            polygon#a(points='.635 .523 4.321 .523 4.321 19.489 .635 19.489 .635 .523')
            polygon#c(points='14.888 .211 14.888 19.2 .755 19.2 .755 .211 14.888 .211')
          g(fill='none', fill-rule='evenodd')
            g(transform='translate(48 .277)')
              mask#b(fill='white')
                use(xlink:href='#a')
              path(fill='#FFFFFF', d='M1.20624,0.52304 C0.89184,0.52304 0.63504,0.78384 0.63504,1.10464 L0.63504,18.90784 C0.63504,19.23264 0.89184,19.48944 1.20624,19.48944 L3.75184,19.48944 C4.06144,19.48944 4.32064,19.23424 4.32064,18.91184 L4.31904,1.10624 C4.31904,0.78624 4.06144,0.52304 3.74864,0.52304 L1.20624,0.52304', mask='url(#b)')
            path(fill='#FFFFFF', d='M14.10432 10.37152C14.09952 10.16672 14.08912 9.81632 14.07552 9.59712 14.07552 6.91152 11.97552 4.67472 9.33952 4.54112 9.22112 4.53712 7.80112 4.49152 7.08992 4.48832L7.08272 4.48832C6.36592 4.49152 4.91232 4.53712 4.79632 4.54112 2.16512 4.67472.05552 6.91152.05552 9.59712.04272 9.81632.03152 10.16672.02432 10.37152.02432 10.42592.00032 11.79392.00032 12.12912L.00032 12.13072C.00032 12.46672.02432 13.83552.02432 13.89072.03152 14.09392.04272 14.44432.05552 14.66592.05552 17.34912 2.16512 19.58672 4.79632 19.71872 4.91232 19.72592 6.36592 19.76432 7.08272 19.76672L8.03232 19.76672C8.33712 19.75232 8.58192 19.50352 8.58912 19.19392L8.58912 16.67232 8.58912 16.66992 8.58912 16.66672C8.58592 16.35232 8.33712 16.09632 8.02672 16.08512L7.07072 16.08512C6.52752 16.08512 5.55472 16.07792 5.08752 16.03792 4.32832 15.99392 3.72752 15.34992 3.72752 14.57712 3.69232 13.76592 3.68432 13.05552 3.68432 12.13072 3.68432 11.20512 3.69232 10.48192 3.72752 9.67312 3.72752 8.90032 4.32832 8.25472 5.08752 8.21232 5.55472 8.17152 6.52752 8.16432 7.07072 8.16432 7.60752 8.16432 8.58032 8.17152 9.04912 8.21232 9.80352 8.25472 10.41152 8.90032 10.41152 9.67312 10.44192 10.48192 10.45152 11.20512 10.45152 12.13072 10.45152 12.35472 10.45152 17.45232 10.45072 19.19712 10.45552 19.50992 10.70272 19.75792 11.01152 19.77152L13.56032 19.77152C13.87392 19.75792 14.12432 19.50352 14.12432 19.18512L14.12432 19.18352C14.12832 17.40352 14.13152 12.24752 14.13152 12.13072L14.13152 12.12912C14.13152 11.79392 14.10672 10.42592 14.10432 10.37152M45.67424 10.37152C45.67104 10.16672 45.65904 9.81632 45.64624 9.59712 45.64624 6.91152 43.54464 4.67472 40.91024 4.54112 40.79104 4.53712 39.36944 4.49152 38.65744 4.48832L38.65184 4.48832C37.93424 4.49152 36.48064 4.53712 36.36464 4.54112 33.73504 4.67472 31.62304 6.91152 31.62304 9.59712 31.60944 9.81632 31.59904 10.16672 31.59504 10.37152 31.59264 10.42592 31.57104 11.79392 31.57104 12.12912L31.57104 12.13072C31.57104 12.46672 31.59264 13.83552 31.59504 13.89072 31.59904 14.09392 31.60944 14.44432 31.62304 14.66592 31.62304 17.34912 33.73504 19.58672 36.36464 19.71872 36.48064 19.72592 37.93424 19.76432 38.65184 19.76672L39.59904 19.76672C39.90704 19.75232 40.15024 19.50352 40.15664 19.19392L40.15664 16.67232 40.15664 16.66992 40.15664 16.66672C40.15664 16.35232 39.90704 16.09632 39.59504 16.08512L38.63984 16.08512C38.09744 16.08512 37.12384 16.07792 36.65664 16.03792 35.89664 15.99392 35.29504 15.34992 35.29504 14.57712 35.26064 13.76592 35.25184 13.05552 35.25184 12.13072 35.25184 11.20512 35.26064 10.48192 35.29504 9.67312 35.29504 8.90032 35.89664 8.25472 36.65664 8.21232 37.12384 8.17152 38.09744 8.16432 38.63984 8.16432 39.17584 8.16432 40.15024 8.17152 40.61904 8.21232 41.37584 8.25472 41.97984 8.90032 41.97984 9.67312 42.01104 10.48192 42.02384 11.20512 42.02384 12.13072 42.02384 12.35472 42.02384 17.45232 42.02064 19.19712 42.02464 19.50992 42.27264 19.75792 42.58224 19.77152L45.13024 19.77152C45.44464 19.75792 45.69264 19.50352 45.69264 19.18512L45.69264 19.18352 45.69504 19.18352C45.69584 17.40352 45.70224 12.24752 45.70224 12.13072L45.70224 12.12912C45.70224 11.79392 45.67744 10.42592 45.67424 10.37152M55.25312 12.12776L55.25312 12.12776C55.25312 12.46216 55.28032 13.83016 55.28032 13.88696 55.28432 14.08776 55.29552 14.44296 55.30752 14.66136 55.30752 17.34616 57.41072 19.58296 60.04752 19.71416 60.16352 19.72056 61.58592 19.76456 62.29712 19.76696L62.30512 19.76696C63.02032 19.76456 64.47312 19.72056 64.58992 19.71416 67.22192 19.58296 69.32992 17.34616 69.32992 14.66136 69.34432 14.44296 69.35792 14.08776 69.35952 13.88696 69.36192 13.83016 69.38592 12.46216 69.38592 12.12776 69.38592 11.78936 69.36192 10.42456 69.35952 10.37016 69.35792 10.16456 69.34432 9.81176 69.32992 9.59176 69.32992 6.91016 67.22192 4.67096 64.58992 4.53976 64.47312 4.53176 63.02032 4.48856 62.30512 4.48536L62.29712 4.48536C61.58592 4.48856 60.16352 4.53176 60.04752 4.53976 57.41072 4.67096 55.30752 6.91016 55.30752 9.59176 55.29552 9.81176 55.28432 10.16456 55.28032 10.37016 55.28032 10.42456 55.25312 11.78936 55.25312 12.12776M60.33552 8.21176C60.80272 8.16936 61.77792 8.16376 62.31632 8.16376 62.85872 8.16376 63.83232 8.16936 64.29872 8.21176 65.05792 8.25256 65.65952 8.89816 65.65952 9.67336 65.69232 10.48056 65.70352 11.20056 65.70352 12.12776 65.70352 13.05256 65.69232 13.76536 65.65952 14.57576 65.65952 15.34536 65.05792 15.99416 64.29872 16.03656 63.83232 16.07576 62.85872 16.08136 62.31632 16.08136 61.77792 16.08136 60.80272 16.07576 60.33552 16.03656 59.57952 15.99416 58.97632 15.34536 58.97632 14.57576 58.94112 13.76536 58.93312 13.05256 58.93312 12.12776 58.93312 11.20056 58.94112 10.48056 58.97632 9.67336 58.97632 8.89816 59.57952 8.25256 60.33552 8.21176')
            g(transform='translate(71.2 4.277)')
              mask#d(fill='white')
                use(xlink:href='#c')
              path(fill='#FFFFFF', d='M14.86248,6.09456 C14.85768,5.88976 14.84728,5.53936 14.83368,5.32016 C14.83368,2.63696 12.73288,0.39776 10.09608,0.26416 C9.97688,0.26016 8.55608,0.21456 7.84568,0.21136 L7.83608,0.21136 C7.12088,0.21456 5.66648,0.26016 5.55128,0.26416 C2.91928,0.39776 0.80888,2.63696 0.80888,5.32016 C0.79688,5.53936 0.78728,5.88976 0.78248,6.09456 C0.77928,6.14896 0.75528,7.51696 0.75528,7.85216 L0.75528,7.85376 C0.75528,8.18976 0.77928,9.55856 0.78248,9.61376 C0.78728,9.81696 0.79688,10.16976 0.80888,10.38896 C0.80888,13.07216 2.91928,15.30976 5.55128,15.44176 C5.66648,15.44896 7.12088,15.48736 7.83608,15.48976 L8.78648,15.48976 C9.09208,15.47536 9.33768,15.22656 9.34408,14.91696 L9.34648,12.39536 L9.34648,12.39296 L9.34648,12.38976 C9.34408,12.07536 9.09368,11.81936 8.78248,11.80816 L7.82568,11.80816 C7.28488,11.80816 6.31048,11.80256 5.84408,11.76096 C5.08328,11.71936 4.48248,11.07296 4.48248,10.30176 C4.44728,9.48896 4.43848,8.77856 4.43848,7.85376 C4.43848,6.92976 4.44728,6.20496 4.48248,5.39616 C4.48248,4.62336 5.08328,3.97776 5.84408,3.93536 C6.31048,3.89456 7.28488,3.88736 7.82568,3.88736 C8.36328,3.88736 9.33608,3.89456 9.80568,3.93536 C10.56168,3.97776 11.16648,4.62336 11.16648,5.39616 C11.19768,6.20496 11.20808,6.92976 11.20808,7.85376 C11.20808,8.07776 11.20808,16.87856 11.20568,18.62816 C11.21128,18.93536 11.45928,19.18576 11.76888,19.20016 L14.31768,19.20016 C14.63128,19.18576 14.88008,18.93136 14.88008,18.61456 L14.88008,18.61216 L14.88168,18.61216 C14.88408,16.83136 14.88808,7.97056 14.88808,7.85376 L14.88808,7.85216 C14.88808,7.51696 14.86248,6.14896 14.86248,6.09456', mask='url(#d)')
            path(fill='#FFFFFF', d='M29.85352,4.66448 L27.17752,4.66448 C26.81032,4.66448 26.52952,4.76608 26.42632,5.04928 L22.86872,14.60608 L19.30632,5.04928 C19.20072,4.76608 18.91992,4.66448 18.55352,4.66448 L15.87512,4.66448 C15.65352,4.66448 15.28552,4.91008 15.49752,5.42928 L21.19352,19.40848 C21.28632,19.63568 21.50152,19.77168 21.72472,19.77248 L24.00472,19.77248 C24.23192,19.77168 24.44632,19.63568 24.53672,19.40848 L30.23272,5.42928 C30.44712,4.91008 30.07912,4.66448 29.85352,4.66448')

      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          if user
            li.nav-item.active
              a.nav-link(href='/')
                | Home
        ul.navbar-nav.ml-auto
          if user
            if user.admin==1
              li.nav-item
                a.btn.btn-outline-info.mb-2.mr-4.my-sm-0(href='/admin') Admin Interface
            li.nav-item
              a.btn.btn-outline-primary.mb-2.mr-4.my-sm-0(href='/transaction') Make Transaction
            li.nav-item
              a.btn.btn-outline-primary.mb-2.mr-4.my-sm-0(href='/withdrawal') Make Withdrawal
            li.nav-item
              a.btn.btn-outline-primary.mb-2.mr-4.my-sm-0(href='/deposit') Make Deposit
            li.nav-item
              a.btn.btn-outline-success.mb-2.mr-4.my-sm-0(href='/createAccount') Create Account
            li.nav-item
              a.btn.btn-outline-danger.mb-2.mr-4.my-sm-0(href='/users/logout') Logout
          else
            li.nav-item
              a.btn.btn-outline-primary.mb-2.mr-4.my-sm-0(href='/users/login') Login
            li.nav-item
              a.btn.btn-outline-success.mb-2.mr-4.my-sm-0(href='/users/register') Register

    block content
